# Ignore virtual environment
envCarLog/

# Ignore Python cache files
__pycache__/

# Ignore media files and datasets
media/MLModel/
media/Dataset/

# Ignore database files, logs, and temporary files
*.sqlite3
*.log
*.tmp
